---
import Layout from '../layouts/Layout.astro';
import Desktop from '../components/svelte/Desktop.svelte';
---

<Layout title="Welcome">
	<main>
		<Desktop client:only="svelte" />
	</main>
</Layout>
